body {
	margin: 0;
	padding: 0;
}

.rainbow {
	display: flex;
	flex-wrap: wrap;
	height: 500px;
}

.red {
	flex-basis: 100%;
	background-color: #FF0000;
	height: 16.66667%;
}

.orange {
	flex-basis: 100%;
	background-color: #FFA500;
	height: 16.66667%;
}

.yellow {
	flex-basis: 100%;
	background-color: #FFFF00;
	height: 16.66667%;
}

.green {
	flex-basis: 100%;
	background-color: #008000;
	height: 16.66667%;
}

.blue {
	flex-basis: 100%;
	background-color: #0000FF;
	height: 16.66667%;
}

.indigo {
	flex-basis: 100%;
	background-color: #4B0082;
	height: 16.66667%;
}

.violet{
  flex-basis: 100%;
	background-color: #EE82EE;
	height: 16.66667%;
}
